<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>创造页</title>


    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <!-- <link rel="stylesheet" href="/node_modules/Boostrap/bootstrap-3.4.1-dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/commoon.css">
    <link rel="stylesheet" href="/public/css/create.css">
    <script src="/public/lib-flexible-2.0/index.js"></script>

</head>

<body>
    <!-- 头部区开始 -->
    <header class="shortcut ">
        <div class="logo">
            <h1>
                <a href="/">
                    NFT交易市场
                </a>
            </h1>
        </div>
        <nav class="shortcut_nav">
            <ul>
                <li>
                    <input type="search" placeholder="查找" name="search" autofocus="autofocus">
                </li>
                <li><a href="#">创作</a></li>
                <li><a href="#">上传</a></li>
                <li><a href="#">买</a></li>
                <li><a href="#">卖</a></li>

            </ul>
        </nav>
    </header>
    <!-- 表单区 -->
    <article>
        <h3>创作新的作品</h3>
        <section class="new_item">
            <h4>图片，视频，音频，或 3D 模型</h4>
            <p class="item-type"> 文件支持以下格式: JPG, PNG, GIF, SVG, MP4, WEBM, MP3, WAV, OGG, GLB, GLTF. Max
                size: 40 MB</p>
            <div class="item_uplode">
                <div class="tips">
                    <img src="/public/images/named.jpg" alt="">
                    <p>请上传文件</p>
                </div>
                <input class="item-flie" type="file" id="exampleInputFile">
            </div>
        </section>
        <section class="name">
            <header>
                <h4>名字* </h4>
            </header>
            <input class="input0" type="text" required="required" placeholder="作品名称"
                style="border:1px solid #ccc ;padding-left:5px">
        </section>
        <section class="link">
            <header>
                <h4>链接</h4>
                <p>
                    OpenSea 将在此项目的详细信息页面上包含指向此 URL 的链接，以便用户可以点击，以了解更多信息，欢迎您链接到您自己的网页，了解更多详情。
                </p>
            </header>

            <input class="input1" type="url" required="required" placeholder="https://yoursite.io/item/123"
                style="border:1px solid #ccc ;padding-left:5px">


        </section>
        <section class="detail">
            <header>
                <h4>描述</h4>
                <p>描述将包含在项目的详细信息页面上，位于其图像下方，支持 Markdown 语法。</p>
            </header>
            <textarea name="detail" id="detail" cols="30" rows="10" style="resize:none ;outline:none">提供关于你们项目的细节
           </textarea>
        </section>
        <section class="choose">
            <header>
                <h4>区块链</h4>
            </header>
            <div class="BlockChain">
                <div class="Ethereum">
                    <img src="/public/images/ethereum.png" alt="">
                    &nbsp;&nbsp;
                    Ethereum
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
                <div class="polygon">
                    <img src="/public/images/polygon.svg" alt="">
                    &nbsp;&nbsp;
                    polygon
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
            </div>
        </section>
        <button type="button" class="btn btn-primary">创作</button>



    </article>
    <script src="/public/script/document1.js"></script>
    <script src="/public/script/document.js"></script>
</body>

</html>