<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <!-- <link rel="stylesheet" href="/node_modules/Boostrap/bootstrap-3.4.1-dist/css/bootstrap.min.css"> -->
    <link rel="shortcut icon" href="/public/images/favicon.ico" />
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/commoon.css">
    <link rel="stylesheet" href="/public//css/information.css">
    <script src="/public/lib-flexible-2.0/index.js"></script>
    <script src="jquery.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
    <style>
        @media screen and (min-width:1200px) {
            html {
                font-size: 120px !important;
            }
        }
    </style>
</head>

<body>
    <!-- 头部区开始 -->
    <header class="shortcut ">
        <div class="logo">
            <h1>
                <a href="/">
                    NFT交易市场
                </a>
            </h1>
        </div>
        <nav class="shortcut_nav">
            <ul>
                <li>
                    <input type="search" placeholder="查找" name="search" autofocus="autofocus">
                </li>
                <li class="shortcut_nav_li1">
                    <a href="/views/create.html">创作</a>
                    <div class="shortcut_nav_div1">
                        <a href="#">所有NFT</a>
                        <a href="#">新的</a>
                        <a href="#">艺术</a>
                        <a href="#">音乐</a>
                        <a href="#">域名</a>
                        <a href="#">虚拟世界</a>
                        <a href="#">交易卡</a>
                        <a href="#">收藏品</a>
                    </div>
                </li>
                <li class="shortcut_nav_li2">
                    <a href="#">上传</a>
                    <div class="shortcut_nav_div2">
                        <a href="#">排名</a>
                        <a href="#">活动</a>
                    </div>
                </li>
                <li class="shortcut_nav_li3">
                    <a href="#">买</a>
                    <div>
                        <a href="#">帮助中心</a>
                        <a href="#">平台状况</a>
                        <a href="#">建议</a>
                        <a href="#">社区</a>
                        <a href="#">文档</a>
                        <a href="#">东西</a>
                    </div>

                </li>

                <li><a href="#">卖</a></li>

            </ul>
        </nav>
    </header>
    <!-- 头部区结束 -->
    <!-- 上传背景图开始 -->
    <div style="position:relative; top: .6rem;">
        <section class="bg">
            <input type="file">
            <div class="bgc"></div>
        </section>
        <!-- 上传背景图结束 -->
        <!-- 个人信息区开始 -->
        <section class="imformation">
            <div class="img">
                <input type="file">
            </div>
            <div class="button">
                <div class="btn-group share">
                    <div class="shares">
                        <div></div>分享
                    </div>
                    <button type="button" class="btn btn-default dropdown-toggle  glyphicon glyphicon-share    button1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu menu">
                        <li><a href="#" class="link">复制链接</a></li>
                        <li><a href="#" class="wechat">分享给微信好友</a></li>
                        <li><a href="#" class="qq">分享给qq好友</a></li>

                    </ul>
                </div>

                <div class="btn-group" style=" margin-right: .083333rem; margin-left: -0.041667rem; ">
                    <button type="button"
                        class="btn btn-default dropdown-toggle glyphicon glyphicon-option-vertical   button2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu menu">
                        <li><a href="#">设置</a></li>


                    </ul>
                </div>


            </div>

            <h2 style="margin-top: .3rem;">未命名</h2>

            <a class="adress" href="javascript:;">
                <div class="copy">
                    <div></div>复制

                </div>
                0x8316...9786
            </a>
            <p>自2021年9月注册</p>
        </section>
        <!-- 个人信息区结束 -->
        <!-- 个人操作区域区 -->
        <section class="work">、
            <header>
                <ul>
                    <li class="border"><strong>收集</strong> 1</li>
                    <li><strong>创作</strong> 0</li>
                    <li><strong>喜欢</strong> 0</li>
                    <li><strong>隐藏</strong> 0</li>
                    <li><strong>活动</strong></li>
                    <li><strong>提供</strong></li>
                    <li><strong>参考文献</strong></li>
                </ul>
            </header>
            <div class="body">
                <div class="tool">



                    <div class="input-group input-group-lg " style=" width: 40%">
                        <input type="text" class="form-control text" placeholder="Search for...">
                        <span class="input-group-btn" style="vertical-align: top;">
                            <button class="btn btn-default  bun2" type="button">搜索</button>
                        </span>
                    </div>


                    <div class="btn-group" style="width: 20%;">
                        <button type="button" class="btn btn-default dropdown-toggle btn-lg bun1 "
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%; ">
                            最近访问<span class="caret" style="margin-left: .833333rem;"></span>
                        </button>
                        <ul class="dropdown-menu menu2 ">
                            <li><a href="#">最近访问</a></li>
                            <li><a href="#">最近创建过</a></li>
                            <li><a href="#">最近交易过</a></li>

                        </ul>
                    </div>

                    <div class="btn-group" style="width: 20%;">
                        <button type="button" class="btn btn-default dropdown-toggle btn-lg  bun1 "
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;">
                            个人作品<span class="caret" style="margin-left: 1rem;"></span>
                        </button>
                        <ul class="dropdown-menu menu2 ">
                            <li><a href="#"> 所有作品</a></li>
                            <li><a href="#">分类</a></li>

                        </ul>
                    </div>
                </div>

                <div class="banner">
                    <ul class="vis">

                        <li>
                            <img src="/public/images/unnamed.jpg" alt="">
                            <p>我是111/p>
                        </li>
                    </ul>
                    <ul>
                        <li>无内容1</li>
                    </ul>
                    <ul>
                        <li>无内容2</li>
                        <li>无内容2</li>
                    </ul>
                    <ul>
                        <li>无内容3</li>
                        <li>无内容3</li>
                        <li>无内容3</li>

                    </ul>
                    <ul>

                        <li>无内容3</li>
                        <li>无内容3</li>
                    </ul>
                    <ul>
                        <li>无内容5</li>
                    </ul>
                    <ul>
                        <li>无内容6</li>
                    </ul>

                </div>

            </div>

        </section>

    </div>

    <script>
        $(function () {
            $(".imformation .adress").mouseover(function () {
                $(this).css("color", "black").children("div").stop().fadeIn("fast").addClass("current");
            })

            $(".imformation .adress").mouseout(function () {
                $(this).css("color", "#666").children("div").stop().fadeOut("fast");
            })
            $(".imformation .adress").click(function () {
                $(this).children("div")[0].innerHTML = '<div></div>已复制';
            })

            $(".imformation .share").mouseover(function () {
                $(this).children("div").stop().fadeIn("fast").addClass("current");
            })
            $(".imformation .share").mouseout(function () {
                $(this).children("div").stop().fadeOut("fast");
            })

            $(".work header ul li").click(function () {
                $(this).addClass('border');
                var index = $(this).index();
                $(this).siblings().removeClass('border');
                $(".work .banner ul ").eq(index).show().siblings("ul").hide();

            })

        })



    </script>
</body>

</html>