<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFC交易市场</title>
    <link rel="shortcut icon" href="/public/images/favicon.ico" />
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/commoon.css">
    <link rel="stylesheet" href="/public/css/index.css">



</head>



<body>
    <!-- 头部区开始 -->
    <header class="shortcut ">
        <div class="logo">
            <h1>
                <a href="/">
                    NFT交易市场
                </a>
            </h1>
        </div>
        <nav class="shortcut_nav">
            <ul>
                <li>
                    <input type="search" placeholder="查找" name="search" autofocus="autofocus">
                </li>
                <li class="shortcut_nav_li1">
                    <a href="/views/create.html">创作</a>
                    <div class="shortcut_nav_div1">
                        <a href="#">所有NFT</a>
                        <a href="#">新的</a>
                        <a href="#">艺术</a>
                        <a href="#">音乐</a>
                        <a href="#">域名</a>
                        <a href="#">虚拟世界</a>
                        <a href="#">交易卡</a>
                        <a href="#">收藏品</a>
                    </div>
                </li>
                <li class="shortcut_nav_li2">
                    <a href="#">上传</a>
                    <div class="shortcut_nav_div2">
                        <a href="#">排名</a>
                        <a href="#">活动</a>
                    </div>
                </li>
                <li class="shortcut_nav_li3">
                    <a href="#">买</a>
                    <div>
                        <a href="#">帮助中心</a>
                        <a href="#">平台状况</a>
                        <a href="#">建议</a>
                        <a href="#">社区</a>
                        <a href="#">文档</a>
                        <a href="#">东西</a>
                    </div>

                </li>

                <li><a href="#">卖</a></li>

            </ul>
        </nav>
    </header>
    <!-- 头部区结束 -->
    <!-- 展示区开始 -->
    <section class="banner ">
        <div class="banner-bg">
        </div>
        <div class="banner-text">
            <h1>发现，收集，和<br>
                提供超凡的NFT交易服务</h1>
            <h2>
                就在世界第一大的NFT市场
            </h2>
            <ul>
                <li>
                    <a href="#">
                        搜索
                    </a>
                </li>
                <li>
                    <a href="">
                        创作
                    </a>
                </li>
            </ul>
            <a class="introduce" href="#">在该主页上你将获得的特色服务</a>
        </div>
        <div class="banner-img">
            <div class="banner-works">
                <a href="#">
                    <img src="/public/images/unnamed.jpg" alt="">

                    <div class="works_introduce">
                        <div class="suibian"><img src="/public/images/named.jpg" alt=""></div>
                        <div class="suibian2">
                            <h3 style="line-height: 1;">NFT itemS</h3>
                            <div style="color: rgb(24, 104, 183);">作者</div>
                        </div>
                    </div>



                </a>
            </div>
        </div>

    </section>
    <!-- 展示区结束 -->
    <script src="/public/script/index.js"></script>


    <script src="/public/script/document.js"></script>

</body>

</html>