<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFC交易市场</title>
    <link rel="shortcut icon" href="/public/images/favicon.ico" />
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/commoon.css">



</head>



<body>
    <!-- 头部区开始 -->
    <header class="shortcut ">
        <div class="logo">
            <h1>
                <a href="/">
                    NFT交易市场
                </a>
            </h1>
        </div>
        <nav class="shortcut_nav">
            <ul>
                <li>
                    <input type="search" placeholder="查找" name="search" autofocus="autofocus">
                </li>
                <li><a href="#">创作</a></li>
                <li><a href="#">上传</a></li>
                <li><a href="#">买</a></li>
                <li><a href="#">卖</a></li>

            </ul>
        </nav>
    </header>
    <!-- 头部区结束 -->
    <!-- 展示区开始 -->
    <section class="banner ">
        <div class="banner-bg">
        </div>
        <div class="banner-text">
            <h1>发现，收集，和<br>
                提供超凡的NFT交易服务</h1>
            <h2>
                就在世界第一大的NFT市场
            </h2>
            <ul>
                <li>
                    <a href="#">
                        搜索
                    </a>
                </li>
                <li>
                    <a href="#">
                        创作
                    </a>
                </li>
            </ul>
            <a class="introduce" href="#">在该主页上你将获得的特色服务</a>
        </div>
        <div class="banner-img">
            <div class="banner-works">
                <a href="#">
                    <img src="public/images/unnamed.jpg" alt="">
                    
                    <div class="works_introduce">
                        <div class="suibian"><img src="/public/images/named.jpg" alt=""></div>
                        <div class="suibian2">
                            <h3 style="line-height: 1;">NFT itemS</h3>
                            <div style="color: rgb(24, 104, 183);">作者</div>
                        </div>
                    </div>



                </a>
            </div>
        </div>

    </section>
    <!-- 展示区结束 -->
<script src="/public/script/index.js"></script>
</body>

</html>