@font-face {
    font-family: 'icomoon';
    src: url('/public/fonts/icomoon.eot?tomleg');
    src: url('/public/fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('/public/fonts/icomoon.ttf?tomleg') format('truetype'),
        url('/public/fonts/icomoon.woff?tomleg') format('woff'),
        url('/public/fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


/* 快捷导航栏 */
.shortcut {
  
    display: flex;
    z-index: 1;
    position: fixed;
    background:#fff;
    width: 100%;
    max-width: 1200px;
    min-width: 995px;
    margin: 0 auto;
    height: 72px;
    line-height: 72px;
    box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, .3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.logo {
    width: 200px;
    margin-right: 8%;
    height:72px;

}

.logo a {
    position: relative;
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    height:72px;
    line-height: 72px;
    padding-left: 60px;
    color: #04111DBF;

}
       

.logo a:hover {
    color: #04111DBF;

}
.logo a::before {
    position: absolute;
    display: inline-block;
    left: 10px;
    top: 15px;
    content: '';
    width: 40px;
    height: 40px;
    background: url(/public/images/opensea.svg) no-repeat;
    background-size: 40px 40px;






}



.shortcut_nav {
    flex: 1;


}

.shortcut_nav ul {
    display: flex;

}

.shortcut li {
    position: relative;
    flex: 1;
    height: 72px;
    overflow: hidden;

}

.shortcut li:first-child {
    flex: 2;
    position: relative;
    margin-right: 2%;


}

.shortcut li:first-child input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    vertical-align: middle;
    padding-left: 50px;
    color: rgba(4, 17, 29, 0.75);
}

.shortcut li:first-child::before {
    font-family: 'icomoon';
    content: '';
    position: absolute;
    left: 10px;
    line-height: 75px;
    font-size: 20px;

}



.shortcut li>a {
    display: block;
    color: #04111DBF;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
.shortcut_nav li>div{
    position:absolute;
    width:190%;
    background-color: rgba(255,255,255);
}
.shortcut_nav li>div a{
    display:block;
    width:100%;
    height:45px;
    padding-left:55px;
    font-size: 20px;
    line-height: 45px;
    border: 1px solid #ccc;
    border-bottom: none;

}
.shortcut_nav li>div a:hover{
    font-weight: 600;
    border:none;
    color:#04111DBF;
    box-shadow:0 0 12px rgba(0, 0, 0, .3)
}
.shortcut_nav li:nth-of-type(4) a,
.shortcut_nav li:nth-of-type(5) a {
    font-size: 32px;

}
.shortcut_nav li:nth-of-type(4)>div a,
.shortcut_nav li:nth-of-type(5)>div a{
    font-size: 20px;
}

.shortcut_nav li:nth-of-type(n+2) a:hover {
    font-weight: 600;

}




.shortcut li a:hover {
    border-bottom: 1px solid blue;
}


