
@media screen and (min-width:1200px) {
    html {
        font-size: 120px !important;
    }
}
.shortcut ul li:nth-child(2) {
    border-bottom: 1px solid blue;
}
.shortcut ul li:nth-child(2) a:hover{
    border: none;
}
h1 { 
    margin:0;  
    font-size: 2em;  
}
a{
    text-decoration: none!important;
}
p {
    font-size: .1rem;
}
article {
    
    
    position: relative;
    top: .75rem;
    padding-left:2.25rem;
    padding-right: 2.25rem; 
    background: #fff;
    
    
}
article h3 {
    font-size: .2rem;
    margin-bottom: .05rem!important;
    margin-top: 0!important;
    
}
article h4 {
    font-size: .15rem;
    margin-bottom: .05rem!important;
    margin-top: 0!important;
}

.item-type {
    margin-bottom: .041667rem!important;
    margin-top: 0!important;
}
.new_item{
    width: 100%;
    position:relative;
}
.item_uplode {
   
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-right:1.083333rem;
    margin-bottom: .25rem;
    border: 3px dashed rgb(229, 232, 235);
    
}
.item-flie {
     opacity: 0; 
     width: 100%;
     height: 2.083333rem;
     cursor: pointer;
    
}
.tips {
    position: absolute;
    text-align: center;
    

}
.item_uplode1 img {
   
    max-width: 100%;
    height: auto;
    margin-bottom: .041667rem;
    
}
.name {
    margin-bottom:  .583333rem;
}
.name  input,.link input {
    width: 100%;
    line-height: 3;
    border-radius: .066667rem;
    border:1px solid #ccc;
    
}
 /* .name input:hover,.link input:hover{
    box-shadow: 0 0 12px rgba(0,0,0,.3);

 }  */
.link {
    margin-bottom: .416667rem;
}

p{
    margin-bottom: .041667rem;
}
textarea{
    width: 100%;
    padding-left: .083333rem;
    padding-top: .083333rem;
    color: #666;
    border: 1px solid #ccc;
    border-radius: .066667rem;
}
.detail {
    margin-bottom: .416667rem;
}
/* textarea:hover{
    box-shadow: 0 0 12px  2px rgba(0,0,0,.3);

} */

.choose {
    /* position: relative; */
    height: .833333rem;
    /* overflow: hidden; */
    background-color: #fff;
    margin-bottom: 50px;
}
.BlockChain{
    position: relative;
    width:100%;
    height: .4rem;
    overflow:hidden;
    
}
/* .choose .BlockChain:hover {
    box-shadow: 0 1px 12px  1px rgba(0,0,0,.3);
    height: 96px;
    overflow: visible;  
    
} */
.Ethereum img ,.polygon img{
    border-radius: .133333rem;
}
.Ethereum,.polygon{
    position:absolute;
    border: 1pX solid #ccc;
    height:100%;
    width:100%;
    padding-left:.125rem;
    line-height: .4rem;
    cursor:pointer;
}
.polygon{
    top:100%;
}
.choose span {
    float:right;
    line-height: .4rem;
    margin-right: .041667rem;
    cursor: pointer;
    color: #ccc;
}
.polygon img {
    max-width: .266667rem;
    max-height: .266667rem;
}
.shadow{
    box-shadow: 0 .008333rem .066667rem  .008333rem rgba(0,0,0,.3)!important;
}