/* 展示区 */
.banner {
    pointer-events: none;
    position: relative;
    height: 5rem;
    display: flex;
    font-size: .133333rem;
    font-weight: 600;
    padding-left: .083333rem;
   
    
}
.banner-bg {
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background:url(/public/images/unnamed.jpg) no-repeat;
    background-size:100% auto;
    opacity: .2;
    filter: blur(8px);

    
}
.banner-img, .banner-text {
    
    flex: 1;
}
.banner-text{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner .banner-text h1 {

    margin-top: 1.5rem;
    font-size: .375rem;
    color: rgb(4, 17, 29);
   

}
.banner .banner-text h2 {
    font-size: .2rem;
    font-weight: 400;

}
.banner-text li {
    float: left;
    margin-right: .416667rem;
    pointer-events: auto;
    
   
}
.banner-text li:hover {
    box-shadow: .008333rem .008333rem .1rem .008333rem rgba(0, 0, 0, .3);
}
.banner-text li:nth-of-type(1) a ,.banner-text li:nth-of-type(2) a {
    display: block;
    width: 1.391667rem;
    height: .408333rem;
    line-height: .413333rem;
    border: .008333rem solid rgb(32, 129, 226);
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: .041667rem;
    background-color:rgb(32, 129, 226);
}
.banner-text li:nth-of-type(1) a  {
   
   
    color: rgb(255, 255, 255);

    background-color:rgb(32, 129, 226);
}
.banner-text li:nth-of-type(2) a {

    color:rgb(32, 129, 226) ;
  
    background-color:#fff;
}
.banner-img img{
    text-align: center;
   
    
}
.banner-img .banner-works {
    pointer-events: auto;
    margin-top: .833333rem;
    width: 4.583333rem;
    border-radius: .066667rem;
    margin-left:  auto;
    margin-right: auto;
    overflow: hidden;
    transition: all 0.5s  ;
}
.banner-works:hover{
    box-shadow: .008333rem .008333rem .1rem .008333rem rgba(0, 0, 0, .3);
    transform: translateY(-0.083333rem);
}
.banner-img img {
  
    width: 4.583333rem;
    height: 3.575rem;

}
.banner .works_introduce {
    display: flex;
    flex-direction: row;
    background:#fff;
    height:.583333rem;
    font-size:0.116667rem;
    padding:.133333rem;
}
.banner .works_introduce h3 {
    font-weight: 600;
    color: rgb(4, 17, 29);
}

.banner .works_introduce img {
    width:.333333rem;
    height: .333333rem;
}
.banner .works_introduce .suibian2 {
    height: 100%;
    flex:1;
}
.banner .suibian {
    width: .333333rem!important;
    height: .333333rem!important;
    border-radius: .166667rem;
    overflow: hidden;
    margin-right: .166667rem;
}
.banner .introduce{
   
    pointer-events: auto;
    color:rgb(32, 129, 226) ;


}
.banner .introduce:hover {
    color: rgb(24, 104, 183)

}